streamlit
azure-core
azure-ai-documentintelligence
python-dotenv
langchain-openai
langchain_aws
langchain-community
azure-storage-blob
llama-parse
langchain
chromadb
boto3
docx2txt
azure-cognitiveservices-vision-computervision
docling
pypdf
amazon-textract-caller
amazon-textract-textractor
unstructured
openai
pdf2image
pinecone
langchain-chroma
rank-bm25
pytest
langchain-experimental
psycopg2-binary
pyodbc
sqlalchemy
